:root{
    --deepForestGreen: #3E5F45;
    --skyBlue: #5FAAD1;
    --stoneGrey: #8a8d8e;
    --mossGreen: #7B9855;
    --snowWhite: #F2F4F3;
    --earthyBrown: #2B2B1F;
}

body{
    background-color: var(--deepForestGreen);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo{
    height: 32px;
    width: 32px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.card{
    background-color: var(--mossGreen);
    height: 400px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 25px;
}

img{
    height: 75%;
    width: 100%;
    border-radius: 15px;
}

h1, h2, p, a {
    color: var(--earthyBrown);
    font-family: roboto;
}

a{
    text-decoration: none;

}

a:link{
    color: var(--earthyBrown);
}

a:visited{
    color: var(--skyBlue);
}


