:root{
    --deepForestGreen: #3E5F45;
    --skyBlue: #5FAAD1;
    --stoneGrey: #8a8d8e;
    --mossGreen: #7B9855;
    --snowWhite: #F2F4F3;
    --earthyBrown: #2B2B1F;
}

body{
    background-color: var(--deepForestGreen);
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color: var(--mossGreen);
    height: 150px;
    width: 160px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

img{
    height: 75%;
    width: 100%;
    border-radius: 15px;
}

h1, h2, p {
    color: var(--earthyBrown);
}

a{
    text-decoration: none;
}

a:link{
    color: var(--earthyBrown);
}

a:visited{
    color: var(--skyBlue);
}