*{
    padding: 0px;
    margin: 0px;
}

:root{
    --deepForestGreen: #3E5F45;
    --skyBlue: #5FAAD1;
    --stoneGrey: #8a8d8e;
    --mossGreen: #7B9855;
    --snowWhite: #F2F4F3;
    --earthyBrown: #2B2B1F;
}

body{
    background-color: var(--deepForestGreen);
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo{
    height: 32px;
    width: 32px;
}

.parallax{
   background-image: url("DSC06789.JPG");
   height:  100vh; 
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 0;
}

.primaryHeader{
    background-color: color-mix(in srgb, var(--deepForestGreen) 70%, transparent);
    color: var(--earthyBrown);
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50px;
}

.displayEnd{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 200px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.card{
    background-color: var(--mossGreen);
    height: 33%;
    width: 33%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 25px;
}

img{
    height: 75%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

h1, h2, p, a, li {
    color: var(--earthyBrown);
    font-family: roboto;
}

a{
    text-decoration: none;

}

a:link{
    color: var(--earthyBrown);
}

a:visited{
    color: var(--skyBlue);
}


